*{
    margin: 0%;
    padding: 0;
}

.back{

    background-color: #007bff;

}

.logg{

    width:30%;
    padding: 30px;
    background-color:aliceblue;
    border-radius: 20px;
    position: absolute;
}

.logg .logbut{
    width: 100%;
    text-align: center;
    padding:5px 100px;
    border-radius: 30px;
    background-color: #007bff;
    color: white;
    font-size: 20px;
}
.signup{

    color:#007bff;
    /* color: white; */
    text-align: center;
}

.logg .inp{
margin:4px 0 ;
}

.signup:hover{
 
    color:#007bff;
    font-weight: bold;

}